body {
  background: #0f0f0f;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#chat {
  width: 300px;
  background: #1c1c1c;
  padding: 10px;
  border-radius: 10px;
}

#messages {
  height: 200px;
  overflow-y: auto;
  margin-bottom: 10px;
}

input {
  width: 70%;
  padding: 5px;
}

button {
  width: 25%;
  padding: 5px;
}